
<div class="container main">
  <!--The content below is only a placeholder and can be replaced.-->
  <div style="text-align:left">
    <h1>
      {{title}}
    </h1>
  </div>

  <!-- <button pButton type="button" label="Aceptar"></button>
  <br>
  <button pButton type="button" icon="fa-check" iconPos="left"></button>
  <br>
  <button pButton type="button" class="ui-button-info"></button> -->

  <hr>

  <label for="descripcion" class="col-form-label font-weight-bold">
    <i class="fa fa-microphone"></i> Observaciones:</label>
  <img *ngIf="mic.color == 'primary'" src="assets/images/mic.gif" alt="">
  <textarea #recognitionResult name="descripcion" class="form-control" id="descripcion" rows="10"></textarea>          

  <br>
  <button pButton [icon]="mic.icon" type="button" (click)="processSpeech()" [label]="mic.texto" class="ui-button-danger" ></button>
        

</div>